body {
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}

/* Styling for Start Button */
.start-btn {
    background-color: lightsteelblue;
    border: none;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 24px;

}
/*Styling for Main Text*/

.main-start {
    display: flexbox;
    text-align: center;
    padding: 20px 20px 50px 50px;
}

/*styling for answer buttons */
button {
    background-color: rgb(128, 189, 209);
    border: none;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    padding: 10px 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styling for Main Quiz Component*/
.main-quiz {
    display: flexbox;
    text-align: center;
    padding: 20px 20px 50px 50px;

}

/* Styling for Questions */
input {
    margin: 10px 10px 10px 10px; 
    padding: 10px 20px;
}
/*  Styling for Score */
.main-end {
    text-align: center;
}